/* Menggunakan Bootstrap CSS */
/* @import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"); */

/* body {
  background: #cd0707;
  background: -webkit-linear-gradient(to bottom, #cd0707, #ffffffdb);

  background: linear-gradient(to bottom, #cd0707, #ffffffdb);
  min-height: 100vh;
} */
body {
  background-image: url(/assets/bg.png);
  background-size: cover;
}
