.frame {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 250px;
  position: center;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  border-radius: 10px;
}

.btn {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background: #e0e5ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  font-size: 16px;
  color: rgba(42, 52, 84, 1);
  text-decoration: none;
}
.btn:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}
.nav-pills-custom .nav-link.active {
  color: #45b649;
  background: #fff;
}
.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
    content: "";
    display: block;
    border-top: 8px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

/*
    *
    * ==========================================
    * FOR DEMO PURPOSE
    * ==========================================
    */
body {
  min-height: 100vh;
  background: linear-gradient(to top, #d8d7d7, #ff1616);
}



.container{
    display: flex;
    justify-content: center;
    padding: 80px;
  }
  
  .square:hover {
      -webkit-transform: translate(20px, -10px);
      -ms-transform: translate(10px, -10px);
      transform: translate(10px, -10px);
      -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
       }
  
  
  .square{
    width: 460px;
      height: 430px;
      background: white;
    border-radius: 4px;
    box-shadow: 0px 20px 50px #D9DBDF;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
  }
  
  .mask{
    clip: rect(0px, 460px, 220px, 0px);
    border-radius: 4px;
    position: absolute;
  }
  
  img{
    width: 460px;
    }
  
  .h1{
    margin: auto;
    text-align: left;
    margin-top: 240px;
    padding-left: 30px;
    
    font-family: 'Merriweather', serif;
    font-size: 24px;
  }
  p{
   text-align: justify; 
   padding-left: 30px;
   padding-right: 30px;
   font-family: 'Open Sans', sans-serif;
   font-size: 12px;
   color: #C8C8C8;
   line-height: 18px;
  }
  
  .button {
      background-color: #3EDD84;
      color: white;
      width: 90px;
      padding: 10px 18px;
      border-radius: 3px;
      text-align: center;
      text-decoration: none;
      display: block;
      margin-top: 20px;
      margin-left: 30px;
      margin-right: 70px;
      font-size: 12px;
      cursor: pointer;
      font-family: 'merriweather';
